
/*
font-family: "century-gothic", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
*/

body{
	background-image: url("../images/dt-vector-1.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-color:#2e2c40;
	
}

/*Navigation*/
.line{
border-left:2px solid #F3ccff;
height:100%;
z-index:0;

}

.sidenav{
 height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 10px 10px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #f0d9e7;
  display: block;
  font-family: "century-gothic", sans-serif;
	font-weight: 300;
	font-style: normal;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}