
/*
font-family: "century-gothic", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
*/
*{
	box-sizing: border-box;
	
	scroll-behavior: smooth;
}

html{
	height:100%;
}

body {
	background-color:#2e2c40;
	background-image: url("../images/dt-vector-1.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
}
section{
	
min-height:100vh;
}

/*Navigation*/
.line{
border-left:2px solid #F3ccff;
height:75%;
margin-top:100px;
margin-left:10px;
position:fixed;
}

.mainMenu{
	height: 100%; 
  width: 250px; 
  position: fixed;  
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin-left:25px;
}
/* The navigation menu links */
.sidenav a {
  padding: 10px 10px 10px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #f0d9e7;
  display: block;
  font-family: "century-gothic", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.sidenav a:hover,
.sidenav a.active {
  color: #F3CCFF;
  font-size: 30px;
	text-indent: 1em;
}
.active{
	 color: #F3CCFF;
  font-size: 30px;
	text-indent: 1em;
}

.openMenu{
	font-size:24px;
	cursor:pointer;
	display:none;
	justify-content:flex-start;
		align-items:flex-start;
	
}
nav .mainMenu .closeMenu {
	font-size:24px;
	display:none;
	cursor:pointer;
	color:#f0d9e7;
}



.dropdown-btn{
	font-size: 28px;
  color: #f0d9e7;
  display: block;
  font-family: "century-gothic", sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 10px 10px 10px 16px;
  text-decoration: none;
  cursor:pointer;
  outline:none;
  background:none;
  border:none;
  text-align:left;
}

.dropdown-cont{
	display:none;
	text-indent: 0.7em;
}
/*homepage begin*/
h1 {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 40px;
}

p {
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 28px;
	text-indent: 1em;
}

.home-content{
	
}

.text{
	position:absolute;
	z-index:2;
	margin:auto;
	top:20;
	right:0;
	left:0;
	bottom:0;
	width: 700px;
	height:600px;	

}

.vector{
	height:225px;
	width:225px;
	float:right;
	margin-top:320px;
	margin-right:160px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	
}


footer{
	position:sticky;
  bottom: 0;
  left: 0;
	padding:12px;
	display:flex;
	justify-content: flex-end;
	width:100%;
	
}
.toggle-btn{
	padding:5px;
}

.arrow{
	display:none;
}

/*About Section*/

body #about{
	background-color:#2e2c40;
	background-image:url('../images/dt-vector-2.png');
	background-repeat: no-repeat;
	background-size:2000px 100vh;
	height:100%;
}

h2{
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 40px;
	text-indent:4em;
	padding:10px;
}

.aboutp{
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 18px;
	text-align:left;
	width:40%;
	line-height:23px;
}


.me{
	height:400px;
	width:auto;
	border-radius:5px;
	
}

.flex{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:20px;
	padding:20px;
	margin:20px;
}

.slider{ 
	display:flex;
	justify-content:center;
	/*overflow-x:scroll;*/
}

.slide{
	display:block;
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 30px;
	background-color:#3C3A53;
	padding:30px;
	margin-right:60px; 
	border-radius:5px;
	/*fix offcenter*/
}

/*Make each slide an individual box */

@media screen and (min-width: 1600px){
	body{	
	height:95%;
	background-size: 100% 100% ;
	}
	.vector{
	height:300px;
	width:300px;
	margin-right:350px;
	margin-top:300px;
	}
}



/* Project Pages */

body #projects{
	background-size:0px;
} 

body #UI{
	background-image: url("../images/dt-vector-3.5.png");
		background-size:contain;
	background-size:2000px 1000px;
}

body #webdesign{
	background-image: url("../images/dt-vector-1.png");
	background-size:contain;
	background-size:2000px 100vh;
}

body #javascript{
	background-image: url("../images/dt-vector-2.png");
	background-size:contain;
	background-size:2000px 100vh;
}

body #graphicdesign{
	background-image: url("../images/dt-vector-3.png");
	background-size:contain;
	background-size:2000px 100vh;
}
body #contact{
	background-image: url("../images/dt-vector-2.png");
	background-size:contain;
	background-size:2000px 100vh;
}
.descrip{
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 16px;
	text-align:left;
	text-indent:12em;
}

body #UI h2{
	margin-top:35px;
}

figure img{
	border-radius:5px;
	transition: transform .3s;
}
figure img:hover{
	transform:scale(1.25);
}

figure figcaption h3{
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 22px;
	text-align:center;
}

figure figcaption p{
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 16px;
	text-align:center;
	line-height:25px;
}

 figure figcaption{
	width:65%;
	margin: auto 12px ;
}

.display{
	display:flex;
	justify-content:center;
}



.display2{
	display:flex;
	justify-content:center;
}

.display2 figure img{
	width:85%;
}
	
.display3 figure img{
	width:86%;	
}

.display3 figcaption{
	width:75%
}

.display3 {
	display:flex;
	justify-content:center;
	width:85%;
	margin-left:auto;
	margin-right:auto;
}


.display4{
	display:flex;
	justify-content:center;
	width:85%;
	margin-left:auto;
	margin-right:auto;
}




@media screen and (max-width: 1584px){
	body{
		height:100%;
		width:100%;
		background-size:100% 100%;
		
	}
	
	.text{ 
	display:flex;
	flex-direction:column;
	align-content:center;
	justify-content:center;
	
	}

	p{
	margin-top:5px;
	}

	.vector{

	margin-top:200px;
	
	}
		
	
}

.contacth{
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 37px;
	margin-left:500px;
	padding:10px;
}


	
	@media screen and (max-width:800px){
	body{
	background-image: url("../images/mob-vector-1.png");
	background-size:fill;
	
	
	}
		
	.vector{
		display:none;
	}
	
	.line{
		display:none;
	}
	h1{
		font-size:19px;
		text-indent:0.5em;
	}
	p{
		font-size:15px;
	}
	nav .mainMenu{
		position:fixed;
		top:0;
		left:0;
		width:300px;
		height:500px;
		z-index:3;
		flex-direction:column;
		justify-content:flex-start;
		background-color: #3C3A53;
		transition: 1s ease;
		display:none;
		font-size:25px;
	}
	nav .mainMenu .closeMenu {
		display:block;
		position:absolute;
		top: 5px;
		left: 5px;
		
	}
	nav .openMenu{
		display:block;
		position:fixed;
		
	}
	
	nav .mainMenu a:hover; {
		font-size:27px;
		color:#F3CCFF;
		transition: 0.3s ease;
	}
	
	.arrow{
		display:block;
		font-size:44px;
		
	}

	.slider{ 
	overflow-x:scroll;
}

	.me{
		height:275px;
		width:auto;
	}
	
	.flex{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:20px;
	padding:20px;
	margin:20px;
}
body #about{
		background-image:url("../images/mob-vector-2.png");
		background-size:fill;
	
	
}
body #projects{
	background-size:0px;
} 

body #UI{
	background-image: url("../images/mob-vector-3.png");
	background-size:fill;
}

body #webdesign{
	background-image: url("../images/mob-vector-4.png");
	background-size:fill;

}

body #javascript{
	background-image: url("../images/mob-vector-5.png");
	background-size:fill;
	
}

body #graphicdesign{
	background-image: url("../images/mob-vector-1.png");
	background-size:fill;
	
}


}

/** Oh so polished Styles**/

.oh-so-polished h1{
	text-indent:8em;
padding:16px;
}

.oh-so-polished p{
	font-size:19px;
	width:65%;
	padding:16px;
}

.sidebyside{
	display:flex;
	align-items:center;
	margin-left:400px;
	margin-top:200px;
	
}

.oh-so-polished{
	background-image: url("../images/dt-vector-3.5.png");
	background-size:contain;
	background-size: 2000px 1000px;
}

.oh-so-polished-cont{
	background-image: url("../images/dt-vector-1.png");
	background-size:contain;
	background-size: 2000px 1000px;
}

.oh-so-polished-cont p{
	font-size:19px;
	width:45%;
	padding:6px;
}

.sidebyside2{
	display:flex;
	align-items:center;
	margin-left:300px;
	margin-top:200px;

}


.tablet{
	position:relative;
	z-index:1;
}

.osp-vid{
	position:absolute;
	z-index: 6;
	left:1050px;
	top:3450px;
	
}
 /**Contact page form styles**/

 form{
	 display:flex;
	 justify-content:center;
	 flex-direction:column;
	 width:38%;
	 text-indent:2em;
	 margin-left:auto;
	 margin-right:auto;
 }
 
 
 input[type = text]{
	padding:10px;
	margin:10px;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	border-radius:5px;
	width:400px;
	font-size:15px;
	background-color:#f0d9e7;
}
 
input[type = text], label {
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;

}

label{
	font-size:20px;
}

.contactb , input[type = submit]{
	border-radius:5px;
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 25px;
	text-align:center;
	background-color:#A239EA;
	border:none;
	display:inline-block;
	padding:0.35em 1.2em;	
}
.contactb{
margin-left:630px;
}
.contacth2{
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 37px;
	margin-left:350px;

}
input[type = submit]{
	width:50%;
	margin-left:30px;
}

input[type = submit]:active{
	
	transform:scale(1.1);
}

.contactb:hover, input[type = submit]:hover{
	background-color: #0002A1;
	transition: ease 0.1s;
	animation: bounce 1.5s infinite;

}

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.pC{
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 24px;
	margin-left:550px;
	text-decoration-line:underline;
	text-decoration-color: #f0d9e7;
}

.email1{
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 14px;
}