/*
font-family: "century-gothic", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
*/
*{
	box-sizing: border-box;
}

html{
	height:100%;
}

body {
	background-color:#2e2c40;
	background-image: url("../images/dt-vector-1.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
}

/*Navigation*/
.line{
border-left:2px solid #F3ccff;
height:75%;
margin-top:100px;
margin-left:10px;
position:fixed;
}

.sidenav{
 height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin-left:25px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 10px 10px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #f0d9e7;
  display: block;
  font-family: "century-gothic", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.sidenav a:hover {
  color: #F3CCFF;
}

.sidenav a:active {
	font-size: 30px;
	text-indent: 1em;
}
/*homepage begin*/
h1 {
	font-family: "century-gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 40px;
}

p {
	font-family: "ocr-a-std", monospace;
	font-weight: 400;
	font-style: normal;
	color: #f0d9e7;
	font-size: 28px;
	text-indent: 1em;
}

.home-content{
	
}

.text{
	position:absolute;
	margin:auto;
	top:20;
	right:0;
	left:0;
	bottom:0;
	width: 700px;
	height:600px;	

}

.vector{
	height:225px;
	width:225px;
	float:right;
	margin-top:320px;
	margin-right:160px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	
}
.icon{
	display:none;
}
	
@media only screen and (min-width: 1600px){
body{	
	height:95%;
	background-size: 100% 100% ;
}
.vector{
	height:300px;
	width:300px;
	margin-right:350px;
	margin-top:300px;
}
}

@media only screen and (max-width:800px){
	body{
	background-image: url("../images/mob-vector-1.png");
	background-size:cover;
	
	}
	
	
	.sidenav a {
		display:none;
	}
	
	.vector{
		display:none;
	}
	
	.line{
		display:none;
	}
	h1{
		font-size:32px;
		text-indent:0.5em;
	}
	p{
		font-size:25px;
	}
	
}

	
